services:
  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    ports:
      - "3000:8080"
    volumes:
      - open-webui:/app/backend/data
      - ./mcp_config.json:/app/backend/data/mcp_config.json:ro
      - /home/support/variable/mstr.txt:/run/secrets/mstr_password:ro
    environment:
      - DATA_DIR=/app/backend/data
      - MSTR_PASSWORD_FILE=/run/secrets/mstr_password
      - WEBUI_SECRET_KEY=f355b0573904fdee3ea09b9054ce5c184a6fdfe6fb1c31d7de9666e45a0aae7e
      - TZ=America/New_York
    restart: always
    networks:
      - mcp-net

  mcpo:
    image: ghcr.io/open-webui/mcpo:main
    container_name: mcpo
    restart: always
    ports:
      - "8001:8000"  # This maps host port 8001 to container port 8000
    environment:
      - TZ=America/New_York
    volumes:
      # Mounting to a standard path
      - /home/support/mcp/mcp_config.json:/app/config.json:ro
      - /home/support/variable/mstr.txt:/run/secrets/mstr_password:ro
    # Point command to the mounted config path
    command: mcpo --host 0.0.0.0 --port 8000 --config /app/config.json
    networks:
      - mcp-net

networks:
  mcp-net:
    driver: bridge

volumes:
  open-webui:
